<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li>
      <a routerLink="/frontpage-component" routerLinkActive="active"
        >FrontPage Component</a
      >
    </li>
    <li>
      <a routerLink="/aboutwp-component" routerLinkActive="active"
        >Our Esteemed Mentor</a
      >
    </li>
  </ul>
</nav>

<app-frontpage></app-frontpage>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
